.map_append {
  z-index: 1;
  font-weight: 400;
  color: #383c3d;
  height: auto;
  padding: 1.5%;
  margin-top: 3%;
  width: 100%;
}

.maplonglat-fix {
  z-index: 1;
  font-weight: 400;
  color: #383c3d;
  height: auto;
  width: 50%;
  display: inline-block;
  float: left;
}

p {
  padding-left: 2%;
  text-align: left;
}

#lat, #lon {
  width: 50%;
  display: inline-block;
  float: left;
  text-align: left;
  padding-left: 2%;
  box-sizing: border-box;
}

.leaflet-popup-tip-container {
  visibility: hidden;
}

.leaflet-popup-content-wrapper {
  background-color: none;
}

.leaflet-popup-content {
  text-align: center;
}