/* CSS declarations go here */
html {
  font-family: sans-serif;
}

a {
  text-decoration: none!important;
  color: white;
}

body {
  position: absolute;
  width: 100%;
}

h1 {
  text-align: center;
}

.container {
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
  background: #D8D8D8
}

/*########### NAV BAR #########*/

.navbar {
  height: 100px;
  width: 100%;
  background-color: darkgray;
}

ul {
  float: left;
  display: inline-block;
  font-size:
}

li {
  float: left;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  background-color: gray;
  color: white;
}

/*########### NAV BAR #########*/

select {
  height: 20px;
  width: 150px;
  margin: 0;
  box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  background: #f8f8f8;
  color:#888;
  border:none;
  outline:none;
  display: inline-block;
  appearance:none;
  cursor:pointer;
}

#form_container {
  width: 200px;
  margin: 0 auto;
}
